:root {
  --bg: #f5f5f5;
  --color-headings: #161c2d;
  --color-text-opacity: rgba(22, 28, 45, 0.7);
  --color-text: #161c2d;
  --color-text-modal: #fff;
}

section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--bg);
  text-align: left;
}

a {
  color: #495fef;
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

button {
  outline: none;
}

.container,
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.ul-defaults-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.check-out-card,
.card-btn-style {
  background-color: var(--bg);
  padding: 8px 18px;
  font-size: 15px;
  line-height: 26px;
  cursor: pointer;
  text-transform: lowercase;
  transition: 0.1s ease-in;
  box-shadow: 1px 3px 2px rgb(104, 104, 104), 0 0 1px black;
  border-radius: 8px;
  border: transparent;
  margin: 0 8px;
}
.card-btn-style:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.card-btn-style:active {
  position: relative;
  top: 3px;
  box-shadow: 0 0 1px black;
}
