/* NavBar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar.sticky {
  background-color: var(--bg);
  box-shadow: 0 0 20px rgba(48, 63, 100, 0.2);
}
.navbar-nav.sticky .navbar-toggler span,
.navbar-nav.sticky .navbar-brand {
  color: var(--color-text-base);
}

.main-menu {
  display: flex;
}

.main-menu .nav-item {
  padding: 8px 18px;
  font-size: 15px;
  line-height: 26px;
  cursor: pointer;
  text-transform: lowercase;
  transition: 0.1s ease-in;
  box-shadow: 1px 3px 2px rgb(104, 104, 104), 0 0 1px black;
  border-radius: 8px;
  margin: 0 8px;
}
.main-menu .nav-item:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.main-menu .nav-item:active {
  position: relative;
  top: 3px;
  box-shadow: 0 0 1px black;
}

.navbar-toggler {
  position: absolute;
  right: 40px;
  top: 10px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.navbar-toggler span {
  color: var(--color-headings);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

/* List Controls */
.check-out {
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
.check-out.list-active {
  transform: translateX(0);
}

/* API search */
.filter-container {
  display: flex;
  justify-content: center;
}

.api-filter-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.api-filter-nav .filter-link {
  padding: 1rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 1.63px;
  font-weight: 700;
  transition: 0.1s ease-in;
  box-shadow: 1px 3px 2px rgb(104, 104, 104), 0 0 1px black;
  border-radius: 8px;
  margin: 0 8px;
}
.api-filter-nav .filter-link:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.api-filter-nav .filter-link:active {
  position: relative;
  top: 3px;
  box-shadow: 0 0 1px black;
}
.api-filter-nav .filter-link.active {
  color: #495fef;
}

/* Content Wrapper */
.content-body {
  display: flex;
}

/* Api Cards */
.api-section {
  flex: 2;
}

.api-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.api-card {
  position: relative;
  margin: 0 1rem 1.85rem;
  max-width: 255px;
}

.card-body {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.card-body:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}
.card-body img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 386px;
  border-radius: 8px;
}

.card-popup-box {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  transition: 0.4s;
  z-index: 1;
  padding: 1.25rem 1.875rem;
  opacity: 0;
}

.card-popup-box::before {
  position: absolute;
  content: "";
  background-color: var(--bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
  border-radius: 8px;
}

.api-card:hover .card-popup-box {
  bottom: 20px;
  opacity: 1;
  cursor: pointer;
}

.card-popup-box h3 {
  pointer-events: none;
  color: var(--color-headings);
  font-size: 1.3125rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 0;
}
.card-popup-box div {
  color: var(--color-text-opacity);
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  padding-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}

/* List */
.check-out {
  /* display: none; */
  position: sticky;
  top: 0;
  right: 0;
  border: 3px solid black;
  width: 300px;
  height: 100vh;
  background-color: var(--bg-panel);
  flex: 1;
  overflow: scroll;
}

.list-header {
  text-align: center;
}

.remove-title:hover,
.remove-title:active {
  background-color: rgba(0, 0, 0, 0.4);
}
.remove-title:active {
  position: relative;
  top: 3px;
}

/* ///////////////////////////////////////?? */
/* Modals */
.modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.movie-modal {
  margin: auto;
  max-width: 300px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: default;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.movie-modal-header {
  color: var(--color-text-modal);
}

.movie-modal-header .fa-times {
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
}
.movie-modal-header .fa-times:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.movie-modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #171a23b2;
  padding: 0 2rem;
}
.modal-content h3,
.modal-content h4,
.modal-content .fa-plus {
  color: #fff;
}
.modal-content h3 {
  margin-bottom: 2rem;
}
.modal-content h4 {
  cursor: pointer;
}
.modal-content h4:active {
  transform: translateY(3px);
}

.modal-content .modal-text {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  align-items: center;
}
.modal-body .fa-times {
  text-align: right;
}

/* Modal Animations */
[data-animation="zoomInOut"].modal {
  transform: scale(0.2);
}

[data-animation="slideInOutTop"] .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
}

[data-animation="slideInOutTop"].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="zoomInOut"].modal.is-visible,
[data-animation="slideInOutTop"].is-visible .modal-dialog {
  transform: none;
}

@media (max-width: 768px) {
  .main-menu .nav-item {
    width: fit-content;
    margin: 0.5rem;
  }

  .api-filter-nav {
    flex-direction: column;
    padding: 0 1rem;
  }

  .api-filter-nav .filter-link {
    padding: 0.2rem 1rem;
    margin: 0.5rem;
    text-align: center;
  }

  .favs-modal-body,
  .watch-modal-body {
    margin-top: 40px;
  }
}
